{% extends 'base.html' %}

{% block header %}

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{% url 'home_url' %}" class="navbar-brand ">Weather</a>
            <form class="d-flex" action="{% url 'search_weather_now_url' %}">
                <input class="form-control me-2" type="search" placeholder="Введите город" aria-label="Search" name="search">
                <button class="btn btn-outline-secondary" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
</header>

{% endblock %}