{% extends 'base.html' %}

{% block header %}

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{% url 'home_url' %}" class="navbar-brand ">Weather</a>
        </div>
    </nav>
</header>

{% endblock %}

{% block main %}

<main style="height:100vh;">
    <div class="container d-flex h-100 justify-content-center align-items-center">
        <div style="height:300px; width:600px;" class="text-center">
            <form action="{% url 'search_weather_now_url' %}">
                <input type="search" class="form-control text-center mb-3" aria-label="Search" placeholder="Введите город" name="search">
                <button type="submit" class="btn btn-secondary" style="width: 7rem;">Поиск</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}